/* =================================================================== */
/*                             ANIMAÇÕES                               */
/* =================================================================== */

.card:hover {
    transform: scale(1.03);
}

.card-notes p:hover,
.exercise-notes p:hover {
    transform: translateX(8px);
    background: #f2f2f2a2;
    color: var(--text-dark);
}

.btn:hover {
    border: 2px solid rgba(255, 255, 255, 0.55);
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.1);
}
